<div class="row">
    <div class="col-md-12">
        <form #signUpForm ='ngForm' (ngSubmit)="onSubmit(signUpForm)" >
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Username</label><span style="color: red;">*</span>
                        <input type="text" [(ngModel)]="email" for="email" name="username" class="form-control" ngModel required>
                    </div>
                    <div class="form-group">
                        <label for="name">Password</label><span style="color: red;">*</span>
                        <input type="text" for="password"  [(ngModel)]="password" name="password" [minlength]="6" class="form-control" ngModel required>
                        <div *ngIf="!signUpForm.valid">Must be of atleast 6 characters</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]='!signUpForm.valid' type="submit"> Login </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>